GPUtil==1.4.0
ray==0.8.4
tabulate==0.8.6
tensorboardX==1.7
visdom==0.1.8.8
psutil
pybullet
gym
numpy
torchvision==0.5.0
torch==1.4.0
transforms3d
opencv-python==3.4.3.18
IPython
matplotlib
easydict
pyyaml==3.12
cmake
future
transforms3d
scipy
IPython
pyopengl
