GPUtil==1.4.0
ray==0.8.4
tabulate==0.8.6
tensorboardX==1.7
visdom==0.1.8.8
psutil
pybullet
gym
numpy
torchvision 
torch 
transforms3d
opencv-python
IPython
matplotlib
easydict
pyyaml==3.12
cmake
future
transforms3d
scipy
IPython
pyopengl
